#mytestid
{
	color: red;
	text-align: center;
}

.products
{
	display: flex; /* or inline-flex */
	flex-wrap: wrap;
}


ul.pagination
{	
	text-align: center;
	
}

ul.pagination a
{
	background-color: #000;
	color:white;
	padding: 7px 8px;
    text-decoration: none;
}

ul.pagination a:hover{
    background-color:#333;
}