{% extends "staticpages/index.html" %}
{% load shop_extras %}

{% block main %}
{% load staticfiles %}


<!--
<div id="mytestid">
apples are amazing... {{ view.pages }}
</div>
-->
{% if categories %}
    <select>
    {% for category in categories %}
        <option value="{{category}}"> {{category}}</option>
    {% endfor %}
    </select>
{% endif %}
<nav class="product-filter">
<div id="shopcontent" class="products">
{% if products %}

    {% for product in products %}
    <div class="product">
        <!-- Just grabing the first product here  -->
    	{% with product.productimage_set.all|first as image %}
        <a href="{%url 'shop:productview' product.id %}"><img src="{{ image.image.url }}" width="400" height="400"/> </a>
        {% endwith %}
        <h5>{{product.name}}</h5>
        <h6>{{product.description}}</h6>
        <h6>{{product.price}}$</h6>
        <button type="button">Add to Cart</button> 
    </div>
    {% endfor %}

{% else %}
    <p>No content on this page.</p>
{% endif %}

</div>
</nav>

<div class="pagination">

{% if view.current != 1%}
<a class="pagelink" href="?page={{ view.previous }}">&#10094; </a>
{% else %}
<a class="pagelink-disabled" >&#10094; </a>
{% endif %}

{% if not view.first in view.pagination %}
<a class="pagelink" href="?page={{view.first}}">{{view.first}} </a>
<a class="pagelink-disabled" >... </a>
{% endif %}

{% for i in view.pagination %}
{%if i != view.current %}
<a href="?page={{i}}" class="pagelink" >{{i}} </a>
{% else %}
<a class="pagelink-disabled" >{{i}} </a> 
{% endif %}
{% endfor %}

{% if view.last in view.pagination %}

{% else %}
<a class="pagelink-disabled" >... </a>
<a class="pagelink" href="?page={{view.last}}">{{view.last}} </a>
{% endif %}

{% if view.current != view.pages%}
<a class="pagelink" href="?page={{view.next}}">&#10095; </a>
{% else %}
<a class="pagelink-disabled" >&#10095; </a>
{% endif %}



</div>
{% endblock %}