{% extends "staticpages/index.html" %}


{% block main %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/shop.css" %}" />

<div id="mytestid">
apples are amazing...
</div>

<nav class="product-filter">
<div id="shopcontent" class="products">
{% if products %}

    {% for product in products %}
    <div class="product">
        <!-- Just grabing the first product here  -->
    	{% with product.productimage_set.all|first as image %}
        <img src="{{ image.image.url }}" width=400/>
        {% endwith %}
        <h5>{{product.name}}</h5>
        <h6>{{product.description}}</h6>
        <button type="button">Add to Cart</button> 
    </div>
    {% endfor %}

{% else %}
    <p>No polls are available.</p>
{% endif %}

</div>
</nav>

{% endblock %}